In [1]:
students=['raghu','khatija','manisha','naveen','surya','john']
print(students)

['raghu', 'khatija', 'manisha', 'naveen', 'surya', 'john']

In [2]:
type(students)

list

In [3]:
print(students[2])

manisha

In [4]:
print(students[2].title())

Manisha

In [5]:
print(students[4])

surya

In [ ]:
# adding the name to the list

In [ ]:
students.append('yaswanth')     #append is used to add the name at the last

In [9]:
print(students)

['raghu', 'khatija', 'manisha', 'naveen', 'surya', 'john', 'yaswanth', 'yaswanth']

In [10]:
students.append('geetha')

In [12]:
print(students)

['raghu', 'khatija', 'manisha', 'naveen', 'surya', 'john', 'yaswanth', 'yaswanth', 'geetha']

In [15]:
students.insert(2,'ruchitha')  #insert is used to add the name at the particular postion
print(students)

['raghu', 'khatija', 'ruchitha', 'manisha', 'naveen', 'surya', 'john', 'yaswanth', 'yaswanth', 'geetha']

In [ ]:
# modifying raghu name to sanjay

In [17]:
students[0]='sanjay'

In [18]:
print(students)

['sanjay', 'khatija', 'ruchitha', 'manisha', 'naveen', 'surya', 'john', 'yaswanth', 'yaswanth', 'geetha']

In [19]:
# Deleting the yaswanth name from the list

In [20]:
del students[7]

In [21]:
print(students)

['sanjay', 'khatija', 'ruchitha', 'manisha', 'naveen', 'surya', 'john', 'yaswanth', 'geetha']

In [23]:
x=students.pop()  #pop is used to delete the name temorarily

In [24]:
print(students)

['sanjay', 'khatija', 'ruchitha', 'manisha', 'naveen', 'surya', 'john', 'yaswanth']

In [25]:
print(x)

geetha